html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}
.bg-primary-custom {
  background-color: #48ADBC;
}
.bg-secondary-custom {
  background-color: #A1D7D0;
}
.bg-terciary-custom {
  background-color: #DAE7F5;
}
.search-bar {
  max-width: 500px;
  margin: auto auto;
}

.search-bar .input-group {
  border-radius: 30px;
  overflow: hidden;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.search-bar .form-control {
  border: none;
  padding-left: 20px;
}

.search-bar .btn {
  border: none;
  padding: 10px 20px;
}
.container-bg {
  background-image: url("../icons/FondoblackCat.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-color:#DAE7F5;
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 95vh;
}

.carousel-indicators button {
  width: 12px;
  height: 12px;
  margin: 0 6px;
  background-color: #fff;
  opacity: 0.7;
}

.carousel-indicators .active {
  background-color: #A1D7D0;
  opacity: 1;
}

.carousel-inner img {
  object-fit: cover;
  height: 260px;
}

.btn-opciones-grande {
  font-size: 1.2rem;
  padding: 10px 20px;
  border-radius: 10px;
}
