@model blackcat.Models.viewModels.OlvideClaveViewModel
@{
    ViewBag.Title = "title";
    Layout = "_Layout";
    ViewData["Title"] = "Recuperación de contraseña";
}

<div class="d-flex justify-content-center align-items-center vh-99">
    <div class="p-4 rounded-4" style="background-color: #a8d9d2; width: 80%; max-width: 480px;">
        <div class="bg-white p-4 rounded-3 shadow-sm">
            <h2 class="text-center mb-4" style="font-weight: bold;">Olvide contraseña</h2>

            <form method="post" asp-controller="User" asp-action="OlvideClave">
                <div class="mb-3">
                    <label asp-for="Correo" class="form-label">Correo</label>
                    <input class="form-control" asp-for="Correo" placeholder="Ingrese correo registrado">
                </div>
                <div class="d-grid gap-2">
                    <button type="submit" class="btn text-white" style="background-color: #40a9a1;">Enviar</button>
                    <a href="/" class="btn btn-outline-secondary">Cancelar</a>
                </div>
            </form>
        </div>
 
    </div>
</div>

