
@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}
    <h2 class="mb-4">BIENVENIDO ADMINISTRADOR</h2>

    <div class="row mb-4">
        <div class="col-md-4">
            <div class="dropdown">
                <button class="bg-secondary-custom  dropdown-toggle btn-opciones-grande" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                    Opciones
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <li><a class="dropdown-item" href="#">Opción 1</a></li>
                    <li><a class="dropdown-item" href="#">Opción 2</a></li>
                    <li><a class="dropdown-item" href="#">Opción 3</a></li>
                </ul>
            </div>

        </div>

        <div class="col-md-4">
            <div class="dropdown">
                <button class="bg-secondary-custom dropdown-toggle btn-opciones-grande" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                    Opciones
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <li><a class="dropdown-item" href="#">Opción 1</a></li>
                    <li><a class="dropdown-item" href="#">Opción 2</a></li>
                    <li><a class="dropdown-item" href="#">Opción 3</a></li>
                </ul>
            </div>
        </div>

        <div class="col-md-4">
            <div class="dropdown">
                <button class="bg-secondary-custom  dropdown-toggle btn-opciones-grande" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                    Opciones
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <li><a class="dropdown-item" href="#">Opción 1</a></li>
                    <li><a class="dropdown-item" href="#">Opción 2</a></li>
                    <li><a class="dropdown-item" href="#">Opción 3</a></li>
                </ul>
            </div>
        </div>
    </div>

<div class="bg-primary-custom p-4 rounded-4 shadow-lg position-relative" style="max-width: 500px; margin: auto;">
    <img src="~/icons/gato.ico" alt="gatito" style="width: 80px; position: absolute; bottom: -180%; right: -20%;">

    <h5 class="mb-3 text-center">📝 Notas:</h5>

    <textarea class="form-control mb-3" rows="6" placeholder="Escribe tus notas aquí..."></textarea>

    <div class="d-flex justify-content-between">
        <button class="btn btn-outline-danger">🗑 Borrar</button>
        <button class="btn btn-outline-primary">Siguiente →</button>
    </div>
</div>

